Q1. Write a program to accept percentage from the user and display the grade ?

In [5]:
marks=int(input("Enter Your Marks"))
if marks>100:
    print("Invalid Marks (enter marks under 100 ) ")
elif marks<=100 and marks>90:
    print("YOU GOT GRADE A ")
elif marks<=90 and marks>80:
    print("YOU GOT GRADE B ")
elif marks<=80 and marks>=60:
    print("YOU GOT GRADE C ")
else :
    print("YOU GOT GRADE D ")

Enter Your Marks 99

YOU GOT GRADE A

 Q2. Write a program to accept the cost price of a bike and display the road tax to be paid

In [16]:
price=float(input("Enter The Cost Price Of A Bike "))
if price>100000:
    tax=0.15
elif price>50000 and price <=100000:
    tax=0.10
elif price<=50000 :
    tax=0.05
road_tax=price*tax
print(road_tax,"is the road Tax to paid. ")

Enter The Cost Price Of A Bike  40000

2000.0 is the road Tax to paid.

Q3. Accept any city from the user and display monuments of that city

In [7]:
city=input("enter city name")
result=city.lower()

if result=="delhi":
    print("Red Fort")
elif result=="agra":
    print("Taj Mahal")
elif result=="jaipur":
    print("Jal Mahal")
else :
    print("invalid input")

enter city name jaipur

Jal Mahal

Q4. check how many times a given number can be divided by 3 before it is less than or equal to 10

In [42]:
n=float(input("enter the number"))
count=0
while n>=10:
    n=n/3
    count+=1
print(count)

enter the number 30

2

#### Q5. why and when to use while loop in python give a detailed description with example

soln.  Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

EXAMPLE:
Here we will sum of squares of the first 15 natural numbers using a while loop. Provided that our counter parameter i gives boolean true for the condition, i less than or equal to num, the loop repeatedly executes the code block i number of times.

Q6. use nested while loop to print 3 different pattern

In [53]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  4

*
* *
* * *
* * * *

In [1]:
n = 5
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print("*", end="")
        j += 1
    print()
    i += 1

*****
****
***
**
*

In [2]:
n = 5
i = 1
while i <= n:
    j = 1
    while j <= n - i:
        print(" ", end="")
        j += 1
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

    *
   **
  ***
 ****
*****

Q7. reverse a while loop to display numbers from 10 to 1

In [56]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1